@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing:border-box;
}

body{
    font-family: "Ubuntu",sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    margin:0;
}

.bg{
    background: url("http://static1.squarespace.com/static/5d837f4017aa6e5c94ace111/t/5f775338f470595b9609ca9a/1601655616325/fall1.jpg?format=1500w") no-repeat center center/cover;
    position:absolute;
    top:-30px;
    left:-30px;
    width:calc(100vw + 60px);
    height:calc(100vh + 60px);
    z-index:-1;
    filter:blur(0px);
}

.loading-text{
    font-size:50px;
    color:#fff;
}